.container{
  border:1px solid #E9ECF2;
  position: relative;
  cursor: pointer;

  &.highlight{
    border:2px dashed #1B79DB;

    .preview{
      opacity:.5;
    }
  }
}

.half{
  width: 100%;
  height:50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;
}
.icon{
  position: relative;
  top: -10px;
}
.title{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin:auto;
  display: inline-block;
  width:max-content;
  height:max-content;
  font-size:14px;
}

.preview{
  $pad : 10px;

  top: $pad;
  bottom: 40%;
  right: $pad;
  left: $pad;
  width:calc(100% - #{ 2 * $pad });
  height:calc(60% - #{ $pad });

  object-fit: contain;
  z-index: 30;
  position: absolute;
  margin:auto;
}