.container{
  width: 50px;
  height: 20px;
  border-radius:20px;
  background-color:#DEF4DF;
  display: flex;
  align-items: center;
  position: relative;
  transition: background .3s;
  cursor: pointer;

  .toggle{
    transition:right .3s, background .3s;
    box-shadow:0 2px 2px rgba(#000000, 0.24);
    position: absolute;
    right: -5px;
    width: 30px;
    height: 30px;
    background-color: #8CF2A7;
    border-radius: 50%;
    display: inline-block;
  }
}

.container.notActive{
  background-color: #E9ECF2;

  .toggle{
    background-color:#ABB2C0;
    right:25px;
  }
}