@font-face {
  font-family: iransans;
  src: url('../iransans/eot/IRANSansWeb(FaNum).eot');
  src: url('../iransans/eot/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
  url('../iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
  url('../iransans/woff/IRANSansWeb(FaNum).woff') format('woff'),
  url('../iransans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: iransans;
  src: url('../iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('../iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot') format('embedded-opentype'),
  url('../iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
  url('../iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
  url('../iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: iransans;
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Medium.eot') format('embedded-opentype'),
  url('../iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
  url('../iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
  url('../iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: iransans;
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'),
  url('../iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
  url('../iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
  url('../iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: iransans;
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('../iransans/eot/IRANSansWeb(FaNum)_Bold.eot') format('embedded-opentype'),
  url('../iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
  url('../iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
  url('../iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
  font-weight: bold;
}

.bg-primary-gradient{
  background: linear-gradient(to left, #1B79DB, #49C1F5);
}

body{
  font-family: iransans, Tahoma, serif;
  direction:rtl;
}
*:focus, button:focus{
  outline:none;
}