.breadcrumb > *{
  $space: 15px;

  padding:0 $space 0 $space - 1;
  border-left:1px solid #6E7B93;

  &:first-child{
    padding-right:0;
  }
  &:last-child{
    padding-left:0;
    border-left:0;
  }
}