.container{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}
.open{
  visibility: visible;
  opacity:1;
}

.close{
  background: rgba(255,255,255,.3);
  position: absolute;
  left: 50px;
  top: 50px;
}

@media (max-width:768px){
  .close{
    left:0;
    right: 0;
    top: 10px;
    margin:0 auto;
  }
}