.container{
  position: relative;
  border-radius:50%;
  display: inline-block;
  overflow: hidden;
  width:max-content;
  height:max-content;
}
.canvas{

}
.children{
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin:auto;
}