$size : 100px;

.container{
  background: white;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  width:$size;
  box-shadow:0 3px 16px rgba(0,0,0, .07);
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height:$size;
  cursor: pointer;

  &:hover{
    background: rgba(#eee, .5);
  }
  &.active{
    background: linear-gradient(to left, #1B79DB, #49C1F5);
  }
}
